/* General format */
*{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1rem;
  font-weight: 600;
  color: #444;
}

/* .text-header{
  color: #514b51;
} */
/* Navbar */
 .navbar-custom {
    background-color: #800080;
  }
  .navbar-custom .navbar-brand,
  .navbar-custom .navbar-nav .nav-link {
    color: #fff;
  }
  .navbar-custom .navbar-toggler-icon {
    background-color: #fff; 
  }

  .navbar-custom .navbar-nav .nav-item.active .nav-link,
  .navbar-custom .navbar-nav .nav-item.active .nav-link:hover {
    color: #fff;
  }

  .navbar-custom .navbar-nav .nav-item .nav-link:hover {
    color: #ccc;
  }

  /* End of navbar */

  /* General info */
  .box-container{
    background-color: #fff;
    padding: 1rem;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  }

  .marketcap-info {
    color: rgb(49, 137, 49);
    font-size: 22px;
    font-weight: 500px;
  }

  .fa-coins,  .fa-briefcase {
    color: purple;
    font-size: 2rem;
  }

  .user-icon{
    background-color: #fff;
    padding: 5px;
    border-radius: 50%;
    margin-right: 5px;
  }
  /* End of general info */

  /* About section */
  .about h2{
    color: rgb(49, 137, 49);
  }
  /* About Section*/

  /* form */
  .form-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .invalid{
    color: rgb(220, 53, 69) !important;
  }