{% extends 'layout.html' %}

{% block content %}
    <section class="container">
        <div class="row">
            <div class="about">
                <h2>About Our Crypto Portfolio Manager</h2>
                
                <h3>Inspiration and Journey</h3>
                <p>This project was born out of a shared passion for cryptocurrencies and the need for a robust portfolio management tool. Inspired by the functionality and user experience of CoinGecko, we embarked on a journey to create a platform that not only manages crypto assets efficiently but also provides real-time market data insights.</p>
            
                <p><strong>Developer Contact</strong></p>
                <ul>
                    <li><a href="Link to LinkedIn Profile">LinkedIn</a></li>
                    <li><a href="Link to GitHub Profile">GitHub</a></li>
                    <li><a href="Link to Twitter Profile">Twitter</a></li>
                </ul>

                <h3>Explore Our Project</h3>
                <p>Visit the GitHub repository to delve into the code and contribute to the project's development:</p>
                <p><a href="Link to GitHub Repository">Crypto Portfolio Manager on GitHub</a></p>

                <p>Thank you for joining us on this exciting journey into the world of crypto portfolio management!</p>
            </div>
        </div>
    </section>
{% endblock content %}
